footer {
  background-color: #f1f1f1f1;
  padding: 20px 0;
  p {
    margin: 0;
    line-height: 27px;
    font-size: 14px;
    span {
      color: #f82249;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
